<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>813510220819-r0ehbo23ni3ftbd0rlq7mptth6tdjdii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813510220819-r0ehbo23ni3ftbd0rlq7mptth6tdjdii</string>
	<key>API_KEY</key>
	<string>AIzaSyCqq8Q3mvhtUJ092jEDvraOetAHZS5XuMw</string>
	<key>GCM_SENDER_ID</key>
	<string>813510220819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ITI.Marktek</string>
	<key>PROJECT_ID</key>
	<string>marketk-a0f0c</string>
	<key>STORAGE_BUCKET</key>
	<string>marketk-a0f0c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813510220819:ios:74e94f31095599e632f3e6</string>
</dict>
</plist>