SHOPIFY_HOST = mad46-ios-team3.myshopify.com
SHOPIFY_API_VERSION = 2024-01
SHOPIFY_STOREFRONT_ACCESS_TOKEN = 2f30f34e02314069529b0ac05e730270

// FOR EDUCATIONAL/POC USE ONLY — never ship in a distributed build
SHOPIFY_ADMIN_ACCESS_TOKEN = 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
GEMINI_API_KEY = AQ.Ab8RN6JJe4EOhx4O02CCIzmFrktBOylXp0xwDfsbgnBU8E22Ew

